<section class="canvas-container">
  <canvas id="gameCanvas"></canvas>
</section>
<section class="buttons-container">
  <button 
    mat-fab extended 
    (click)="start_pause()"
    aria-label="Button to start/pause the game"
  >
    <mat-icon>
      @if (isRunning) {
        pause
      }
      @else {
        play_arrow
      }
    </mat-icon>
    @if (isRunning) {
      Pause
    }
    @else {
      Start
    }
  </button>
  <button 
    mat-fab extended 
    (click)="restart()"
    aria-label="Button to restart the game"
  >
    <mat-icon>replay</mat-icon>
    Restart
  </button>
  <button 
    mat-fab extended 
    (click)="openSettings()"
    aria-label="Button to change the game settings"
  >
    <mat-icon>settings</mat-icon>
    Settings
  </button>
  <button 
    #tooltip="matTooltip"
    (click)="tooltip.show()"
    mat-fab extended 
    matTooltip="Generations Count: {{ generationCount }}"
    aria-tooltip="Button that displays the current generation count in the game"
  >
    <mat-icon>information</mat-icon>
    Game Info
  </button>
</section>