:host {
    display: block;
    padding: 1rem;
    width: calc(100% - 2rem);
    min-height: calc(100% - 2rem);
    section {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .canvas-container {
        canvas { 
            border: 1px solid black; 
            border-radius: 0.5rem; 
            max-width: 100%;
        }
    }
    .buttons-container { 
        gap: 1rem; 
        margin-top: 1rem; 
        @media screen and (max-width: 1000px) {
            flex-direction: column;
        }
    }
    .settings-container { 
        margin-top: 1.5rem;
    }
}