<section class="canvas-container">
  <canvas id="gameCanvas"></canvas>
</section>
<section class="buttons-container">
  <button mat-fab extended (click)="start()">
    <mat-icon>play_arrow</mat-icon>
    Start
  </button>
  <button mat-fab extended (click)="pause()">
    <mat-icon>pause</mat-icon>
    Pause
  </button>
  <button mat-fab extended (click)="restart()">
    <mat-icon>replay</mat-icon>
    Restart
  </button>
  <button mat-fab extended (click)="openSettings()">
    <mat-icon>settings</mat-icon>
    Settings
  </button>
</section>